p {
	font-family: "Raleway";
	font-size: 23px;
	font-weight: 800;
	margin-left: 1.6%;
	text-transform: uppercase;
	border-bottom: 2px solid #F1F1F1;
	width: 30%;
	padding-bottom: 20px;
}

img {
	width: 22%;
	float: left;
	margin: 1.5%;	
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

img:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
